<%= form_for @tweet,html:{mulitpart: true} do |f| %>
  <% if @tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
      <% @tweet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    
    <%= f.text_field :content,:placeholder => 'Tweet Goes Here',:class=>'text_field' %>
  </div>
  <div class="field">
    
    <%= f.file_field :image,:class=>'avatar_button' %>
  </div>
  <div class="actions">
    <%= f.submit'Create Tweet',:class=>'submit_button' %>
  </div>
<% end %>
