<p id="notice"><%= notice %></p>

<div id='profile_page'>
  <div id='profile_info'>
    <p id='profile_username'>
      <strong><%= @user.username %></strong>
    </p>
    <p>
      
      <%= image_tag @user.avatar.url, :class=> 'avatar' %>
    </p>
      <p>
      <%= @user.about %>
    </p>
    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>

    <p>
      <strong>First name:</strong>
      <%= @user.first_name %>
    </p>

    <p>
      <strong>Last name:</strong>
      <%= @user.last_name %>
    </p>

    <p>
      <strong>Friends: (<%=@user.friends.count%>) </br></strong>
      <% @user.friends.each do |friend| %>
        
        <% if session[:user_id]==@user.id %>
          <%= link_to friend.username, user_path(friend.id) %>
          (
          <%=link_to 'remove', remove_friend_path(:id=>friend.id), data: { confirm: 'Are you sure you want to remove this friend?' }, :class=>'remove_friend_link'  %> 
          )
        <% else %>
          <%= friend.username %>
        <%end%>

        <br>
      <%end%>
    </p>
     

    <p>
      <% if session[:user_id]==@user.id %>
        <strong>Pending Friend Requests: (<%=@user.pending_friends.count%>)</strong>
        <% @user.pending_friends.each do |friend| %>
        <%= friend.username %>
      <%end%>
      <br>
      <%end%>
    </p>
    <% if session[:user_id]==@user.id %>
      <p>
        <strong>Received Friends Requests: (<%=@user.requested_friends.count%>)</strong>
        <% @user.requested_friends.each do |friend| %>

          <%= link_to friend.username, accept_friend_path(:id=>friend.id), data: { confirm: 'Are you sure you want to accept this friend request?' }  %> 
          
          <br>
        <%end%>
      </p>
    <%end%>
    <% if session[:user_id]==@user.id %>
      <%= link_to 'New Tweet', new_tweet_path %>
     </br>
      <%= link_to 'Edit Profile', edit_user_path(@user) %>
    <%else%>
       <%= link_to 'Request Friend', request_friend_path(:id=>@user.id) %>
    <%end%>
  </div>









<div id='profile_tweet_index'>
    <% @user.tweets.order('created_at DESC').each do |tweet| %>
   
    <%=link_to (image_tag tweet.user.avatar.url,:class=>'thumbnail'),user_path(tweet.user), :class=>'tweet_image_link'%>

      <%= link_to tweet do %>

      <div class='tweet'>
        
        <p id='tweet_user'><%=tweet.user.username%></p>
        
        <p><%= tweet.content %></p>
        
        <% if tweet.image.exists? %>
          <%= image_tag tweet.image.url, :class=> 'index_tweet_image' %>
        <%end%>
        
        <% time_diffrence=TimeDifference.between(tweet.created_at, Time.current).in_general %>
        
        <p id='tweet_time'>Created About <%=time_diffrence[:days]%> days and <%=time_diffrence[:hours]%> hours ago</p>

       </div>

      </br>
    <%end%>
    <%end%>
</div>

 </div>