<!DOCTYPE html>
<html>
<head>
  <title>TwitterClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Baloo+Tamma|Roboto+Condensed:400,700" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id='header'>
	<% if session[:user_id] %>	
		<%= link_to (image_tag("logo.png",:id=>'logo')),user_path(session[:user_id])  %>
	<%else%>
		<%= link_to (image_tag("logo.png",:id=>'logo')),tweets_path  %>
	<%end%>

	<% if session[:user_id] %>
		<%= button_to 'My Userpage',user_path(session[:user_id]), :method=>'get',:class=>'button' %>
		<%= button_to 'Friends Tweets',friends_tweets_path, :method=>'get',:class=>'button' %>		
		<%= button_to 'Most Recent Tweets',tweets_path, :method=>'get',:class=>'button' %>
		<%= button_to 'Log Out','logout', :method=>'get',:class=>'button' %>

	<%else%>
		<%= button_to 'Log In','login', :method=>'get',:class=>'button' %>
		<%= button_to 'MostRecent Tweets',tweets_path, :method=>'get',:class=>'button' %>

	<%end%>


	
	<% if session[:user_id] %>
		<p>Welcome: 
		<%= link_to session[:username],user_path(session[:user_id]) %>
		</p>
	<%else%>
		<p>Not Currently Logged In </p>
	<%end%>
		<%= form_tag(user_search_path, method: "get") do %>
	  <%= text_field_tag(:search,nil,:placeholder => 'Search for User',:id=>'search_bar') %>
	<% end %>

	


</div>

 <div id='wrapper'>

 	<% flash.each do |type,message|%>
   
	 	<% if flash[:alert] %>
	    	<div class="alert"><%= flash[:alert] %></div>
	  	<% end %>

	 	<% if flash[:noticee] %>
	    	<div class="noticee"><%= flash[:noticee] %></div>
	  	<% end %>
	<%end%>
	<%= yield %>
</div>
</body>
</html>
