<!DOCTYPE html>
<html>
<head>
  <title>TwitterClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id='header'>
	<% if session[:user_id] %>	
		<%= link_to (image_tag("logo.png",:id=>'logo')),user_path(session[:user_id])  %>
	<%else%>
		<%= link_to (image_tag("logo.png",:id=>'logo')),tweets_path  %>
	<%end%>

	<% if session[:user_id] %>
		<%= button_to 'My Userpage',user_path(session[:user_id]), :method=>'get',:class=>'button' %>
		<%= button_to 'Recent Tweets',tweets_path, :method=>'get',:class=>'button' %>
		<%= button_to 'Log Out','logout', :method=>'get',:class=>'button' %>

	<%else%>
		<%= button_to 'Log In','login', :method=>'get',:class=>'button' %>
		<%= button_to 'Recent Tweets',tweets_path, :method=>'get',:class=>'button' %>

	<%end%>

	
	<% if session[:user_id] %>
		<p>Welcome: 
		<%= link_to session[:username],user_path(session[:user_id]) %>
		</p>
	<%else%>
		<p>Not Currently Logged In </p>
	<%end%>
	

	


</div>
<% flash.each do |type,message|%>
    <div class='flash_<%=type%>'>
	 <%=message%>
    </div>
  <%end%>
 <div id='wrapper'>
	<%= yield %>
</div>
</body>
</html>
